In [1]:
print("Hello World!")

Hello World!

In [2]:
name = "mateus fernando"

In [3]:
age = 18

In [4]:
age2 = "18"

In [5]:
dev = True

In [6]:
type(name)

str

In [7]:
type(age)

int

In [8]:
height = 1.81

In [9]:
type(height)

float

In [12]:
print(name)

mateus fernando

In [24]:
name = 123

In [25]:
number1 = 35
number2 = 20

In [ ]:
name = input("What's your name?")

In [ ]:
age = int(input("How are you?"))

In [1]:
valor1 = float(input("Digite um número inteiro:"))
valor2 = float(("Digite um número inteiro:"))

In [2]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [5]:
numero = 10
print( numero> 0 and numero < 10)

False

In [8]:
numero = 10
print( numero> 0 or numero < 10)

True

In [9]:
if ():
    print()
else:
    print()

In [43]:
numeroIP = int(input("Digite um número"))

if(numeroIP % 2 == 0):
    print(f"O numero {numeroIP} é par")
else:
    (f"O numero {numeroIP} é impar")

In [54]:
cupom = input("digite o cupom:")

if(cupom == "aula1" or cupom == "aula2"):
    print("você ganhou 10% de desconto")
else:
        print("Cupom Inválido")

Cupom Inválido