In [79]:
def my_function()

SyntaxError: expected ':' (2330405485.py, line 1)

In [ ]:
print("Hello World

SyntaxError: unterminated string literal (detected at line 1) (2685308971.py, line 1)

In [ ]:
def my_function():
        print("Hello World")
    print("World")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [ ]:
print(my_variable)

NameError: name 'my_variable' is not defined

In [ ]:
result = "Number: " + 42

TypeError: can only concatenate str (not "int") to str

In [ ]:
my_list = [1,2,3]
my_list.append(4)
my_list.sort_descending()

AttributeError: 'list' object has no attribute 'sort_descending'

In [ ]:
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
import ursospandas

ModuleNotFoundError: No module named 'ursospandas'

In [ ]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [ ]:
my_list = [1,2,3]
print(my_list[3])

IndexError: list index out of range

In [ ]:
if len(my_list) > 3:
    print(my_list[3])

In [ ]:
my_dict = {'name': 'Alice'}
print(my_dict['age'])

KeyError: 'age'

In [ ]:
print(my_dict.get('age', 'key not found'))

key not found

In [ ]:
value = "Hellow"
if value.isdigit():
    int_value = int(value)

In [ ]:
result = 10 / 0

ZeroDivisionError: division by zero

In [ ]:
divisor = 0
if divisor != 0:
    result = 10 / divisor
else:
    print("Cannot divide by zero")

Cannot divide by zero

In [ ]:
def funcaoLeitura():
    for i in range (10):
        print("Número", i)

funcaoLeitura()

Número 0
Número 1
Número 2
Número 3
Número 4
Número 5
Número 6
Número 7
Número 8
Número 9

In [ ]:
def addNum(n1,n2): 
    print("O primeiro número é: ", n1)
    print("O segundo número é: ", n2)
    print("A soma número é: ", n1+n2)

addNum(10,15)

O primeiro número é:  10
O segundo número é:  15
A soma número é:  25

In [ ]:
addNum(100,15)

O primeiro número é:  100
O segundo número é:  15
A soma número é:  115

In [ ]:
addNum()

TypeError: addNum() missing 2 required positional arguments: 'n1' and 'n2'

In [ ]:
lista = [1,2]
lista.append(3)
print(lista)

[1, 2, 3]

In [ ]:
range(5)

range(0, 5)

In [ ]:
varGlobal = 10 #essa é uma variavel global

def multiplicacao(num1, num2):
    varGlobal = (num1 * num2) #essa é uma variavel local
    print("Variável da funçao multiplica: ", varGlobal)

multiplicacao(5,4)
print(varGlobal)

Variável da funçao multiplica:  20

In [84]:
varGlobal = 10 #essa é uma variavel global

def multiplicacao(num1, num2):
    varLocal = (num1 * num2) #essa é uma variavel local
    print("Variável da funçao multiplica: ", varGlobal)

multiplicacao(5,4)

Variável da funçao multiplica:  10

In [ ]:
print(varLocal) #variavel existe somente dentro da função

NameError: name 'varLocal' is not defined

Criando uma função com outras funções

In [80]:
def separarTexto(texto):
    return texto.split() #metodo split se usa para separar texto

In [81]:
separarTexto("Cibele Maria")

['Cibele', 'Maria']

In [82]:
lista = separarTexto("Cibele Maria")

print(lista)

['Cibele', 'Maria']

In [83]:
#Quando não sabemos a quantidade de parãmetros basta usar o *
def variosParametros(*parametros):
    for n, item in enumerate(parametros):
        print("Paramêtro", n, item)
    return

In [86]:
variosParametros('Cibele', 'Suely', 'Giggio')

Paramêtro 0 Cibele
Paramêtro 1 Suely
Paramêtro 2 Giggio

In [4]:
def soma(n1,n2):
    return n1+n2

def subtrai(n1,n2):
    return n1-n2

def multiplica(n1,n2):
    return n1*n2

def divide(n1,n2):
    return n1/n2

In [5]:
while True:
    print("+==================+")
    print("| MENU DE OPERAÇÕES")
    print("| 1 - somar        ")
    print("| 2 - subtrair     ")
    print("| 3 - multiplicar  ")
    print("| 4 - dividir      ")
    print("| 0 - sair        ")
    print("+==================+")

    op = int(input())
    if op==0:
        break

    n1 = int(input("Primeiro número: "))
    n2 = int(input("Segundo número: "))

    if op ==1:
        print('O resultado da soma é: ', soma(n1,n2))
    elif op==2:
        print('O resultado da subtracao é: ', subtrai(n1,n2))
    elif op==3:
        print('O resultado da multiplicacao é: ', multiplica(n1,n2))
    elif op==4:
        print('O resultado da divisao é: ', divide(n1,n2))
    else:
        print('Por favor, digite uma das opções.')

+==================+
| MENU DE OPERAÇÕES
| 1 - somar
| 2 - subtrair
| 3 - multiplicar
| 4 - dividir
| 0 - sair
+==================+
O resultado da soma é:  25
+==================+
| MENU DE OPERAÇÕES
| 1 - somar
| 2 - subtrair
| 3 - multiplicar
| 4 - dividir
| 0 - sair
+==================+
O resultado da soma é:  2
+==================+
| MENU DE OPERAÇÕES
| 1 - somar
| 2 - subtrair
| 3 - multiplicar
| 4 - dividir
| 0 - sair
+==================+
O resultado da soma é:  2
+==================+
| MENU DE OPERAÇÕES
| 1 - somar
| 2 - subtrair
| 3 - multiplicar
| 4 - dividir
| 0 - sair
+==================+

ValueError: invalid literal for int() with base 10: ''